[Desktop Entry]
Name=uRoku
Exec=./qtc_device_debughelper.py app "webapp-container --inspector ./www/index.html"
Icon=uRoku.png
Terminal=false
Type=Application
X-Ubuntu-Touch=true

